@import 'util'
@media (min-width: 810px)
  \:root
    --album-cover-size: 256px
    --album-spacing: 55px
    --album-cell-size: calc(var(--album-cover-size) + var(--album-spacing))

@media (max-width: 810px)
  \:root
    --album-cover-size: 120px
    --album-spacing: 10px
    --album-cell-size: calc(var(--album-cover-size) + var(--album-spacing))

.album-background
  width: 100%
  height: 100%
  filter: grayscale(40%) blur(24px)
  overflow-y: hidden
  background-attachment: fixed
  object-fit: cover

.album-view
  @extend %page-view
  & .album
    float: left
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

    justify-content: center
    align-items: center
    width: var(--album-cell-size)
    height: var(--album-cell-size)

  & img
    z-index: 2
    width: var(--album-cover-size)
    height: var(--album-cover-size)
    box-shadow: 3px 4px 8px 1px rgba(#000000, 0.66)

  & #highlight
    z-index: 1
    position: absolute
    background-color: var(--color-primary)
    width: var(--album-cell-size)
    height: var(--album-cell-size)
    opacity: 0.66
