html
  width: 100%
  height: 100%
  padding: 0

body
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  overflow-y: hidden
  background-color: var(--color-bg)
  @media (max-width: 810px)
    cursor: none

a
  @media (max-width: 810px)
    cursor: none

.page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  user-select: none
  z-index: 10

.not-shown
  display: none
  z-index: 0

\::-webkit-scrollbar
  display: none
