\:root
  --color-primary: rgba(131, 151, 136, 1)
  --color-darker: rgba(115, 135, 123, 1)
  --color-secondary: rgba(189, 187, 182, 1)
  --color-osd: rgba(189, 187, 182, 0.8)
  --color-accent: rgba(229, 209, 208, 1)
  --color-off-accent: rgba(245, 228, 215, 1)
  --color-bg: black
  --color-text: white
