#login-page
  background-color: var(--color-darker)

  & button
    font-family: 'Cutive Mono', mono
    font-size: 60px
    margin: auto
    background-color: var(--color-accent)
    border: none
    margin: auto
    display: block
    position: relative
    top: calc(50% - 30px)
    box-shadow: 3px 4px 8px 1px rgba(#000000, 0.66)
    cursor: pointer

    &:active
      box-shadow: none
      background-color: var(--color-off-accent)
