.now-playing-background
  width: 100%
  height: 100%
  filter: grayscale(40%) blur(22px)
  overflow-y: hidden
  background-attachment: fixed
  object-fit: cover

.now-playing
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

  & .artist-info
    width: 25em
    max-height: 24em
    overflow-y: scroll
    color: var(--color-text)
    background-color: rgba(#000000, 0.66)
    position: absolute
    font-family: 'Cutive Mono'
    top: calc(100% - 26em - var(--album-spacing) - var(--album-cover-size))
    box-shadow: 3px 4px 8px 1px rgba(#000000, 0.66)
    padding: 1em
    text-align: justify


.osd-bg
  width: 100%
  height: 100%
  position: absolute
  top: 0px
  left: 0px
  filter: blur(10px)
  background-color: var(--color-osd)

.osd-content
  width: 100%
  height: 100%
  position: absolute
  padding: calc(var(--album-spacing) / 2)

.osd
  overflow: hidden
  width: 100%
  height: calc(var(--album-spacing) + var(--album-cover-size))
  position: absolute
  left: 0px
  bottom: 0px
  color: var(--color-text)

  & .current-album-title
    font-family: 'Courgette', cursive
    font-size: 50px
    user-select: text
    @media (max-width: 810px)
      font-size: 25px

  & .current-album-artist
    font-family: 'Dosis', sans-serif
    font-size: 32px
    user-select: text
    @media (max-width: 810px)
      font-size: 24px

  & .current-song-title
    font-family: 'Dosis', sans-serif
    font-size: 48px
    user-select: text
    @media (max-width: 810px)
      font-size: 25px

  & .current-playback-time, & .current-playback-index
    font-family: 'Cutive Mono', monospace
    font-size: 32px
    text-align: right
    padding-right: var(--album-spacing)

  & .current-album-cover
    float: left
    z-index: 2
    margin-right: calc(var(--album-spacing) / 2)
    width: var(--album-cover-size)
    height: var(--album-cover-size)
    box-shadow: 3px 4px 8px 1px rgba(#000000, 0.66)

.controls
  position: absolute
  left: 13px
  top: 13px
  & a
    text-decoration: none
    color: #fff
    font-size: 25px
    font-weight: bold
    text-shadow: 2px 2px 5px 4px rgba(#000000, 0.66)
    box-shadow: 3px 4px 8px 1px rgba(#000000, 0.66)
    border: 1px solid #fff
