doctype html
html
  head
    title Qiosk Player
    meta charset="UTF-8"
    link rel="stylesheet" href="/style/app.css" type="text/css"
    script src="https://unpkg.com/d3@4.12.2"
    script src="https://unpkg.com/jquery"
    script src="https://unpkg.com/observe-js"
    script src="/js/app.js"
    link href="https://fonts.googleapis.com/css?family=Courgette|Cutive+Mono|Dosis" rel="stylesheet"
  body
    audio#player
    #login-page.page
      include login.slim
    #album-view-page.page
      include album_list.slim
    #playlist-page.page.not-shown
      include playlist.slim
    #now-playing-page.page
      include now_playing.slim
    javascript:
      Controller.goTo(AlbumView)
