img.now-playing-background.current-album-cover

.now-playing
  .now-playing-info
  .osd
    .osd-bg
    .osd-content
      img.current-album-cover
      .current-album-title
      .current-album-artist
      .current-song-title
      .current-playback-time
      .current-playback-index

.controls
  a.back-button href="#" ←
